html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
}
#container {
    height: 100vh;
}
button:focus {
    outline: none;
}
button.primary {
    color: white;
    cursor: pointer;
    text-align: center;
    background: #2073d4;
    border-radius: 2px;
    border: none;

}
button.primary:hover {
    color: white;
    background: #005bbe;
}
button.primary:focus {
    color: white;
    background: #629de0;
}
.calendarWrapper {
    height: 100%;
}
.headerWrapper {
    border-bottom: 1px solid lightgrey;
}
.header {
    height: 59px;
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
    background: white;
}
.header .courseraLogoWrapper {
    padding-top: 5px;
}
.header .courseraLogo {
    height: 20px;
}
.contentWrapper {
    height: calc(100% - 60px);
    background: #ebebeb;
}
.calendarContent {
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
/* course catalog section */
.calendarContent .courseCatalog {
    width: 300px;
    height: 100%;
    float: left;
    padding: 15px;
    display: inline-block;
    border: 1px solid lightgrey;
}
.calendarContent .searchWrapper {
    height: 35px;
    width: 100%;
    padding-bottom: 10px;
}
.calendarContent .searchWrapper .courseSearch {
    height: 35px;
    width: 100%;
    font-size: 14px;
    padding: 3px 0 3px 5px;
}
.calendarContent .searchWrapper {
    height: 45px;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 10px;
}
.calendarContent .coursesWrapper {
    overflow-y: scroll;
    padding-right: 10px;
    height: calc(100% - 45px);
}
.calendarContent .coursesWrapper .course {
    overflow: hidden;
    position: relative;
    margin-bottom: 7px;
    background: #f8f8f8;
    padding: 0 10px 28px 10px;
    border: 1px solid #dbe2e8;
    box-shadow: 1px 2px 5px -2px #2E3D49;
}
.calendarContent .course .courseName {
    color: #4a90e2;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: break-word;
}
.calendarContent .course .courseAuthor {
    font-size: 13px;
    color: #595959;
    padding-bottom: 5px;
}
.calendarContent .course .courseTime {
    color: #7a7a7a;
    font-size: 12px;
    padding-bottom: 5px;
}
.calendarContent .course .courseBoldText {
    font-weight: 600;
    color: #333;
}
.calendarContent .course .courseSelectButton {
    width: 72px;
    right: 6px;
    bottom: 3px;
    font-weight: 300;
    padding: 5px 13px;
    position: absolute;
}
/* calendar section */
.calendarContent .calendar {
    height: 100%;
    width: calc(100% - 300px);
    float: right;
    overflow: auto;
    padding: 15px 0;
    display: inline-block;
    border: 1px solid lightgrey;
}
.calendarContent .calendar .calendarLabels {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    min-width: 600px;
}
.calendarContent .calendar .weekdayLabel {
    float: left;
    height: 100%;
    text-align: center;
    display: inline-block;
    border-right: 1px solid lightgrey;
}
.calendarContent .calendar .timeColumn {
    width: 50px;
    background: lightgreen;
}
.calendarContent .calendar .dayColumn {
    min-width: 110px;
    width: calc(20% - 10px);
}
.calendarContent .calendar .dayColumn:nth-child(6) {
    border-right: none;
}
.calendarContent .calendar .calendarRows {
    height: calc(100% - 30px);
    min-width: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.calendarContent .calendar .calendarRow {
    height: 50px;
    min-width: 600px;
    border-top: 1px solid lightgrey;
}
.calendarContent .calendar .calendarRow {
    height: 50px;
    min-width: 600px;
    border-top: 1px solid lightgrey;
}
.calendarContent .calendar .calendarCell {
    height: 100%;
    cursor: pointer;
}
.calendarContent .calendar .cellContent {
    float: left;
    padding: 2px;
    font-size: 10px;
    overflow: hidden;
    line-height: 13px;
    display: inline-block;
    overflow-wrap: break-word;
}
